@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --radius: 0.5rem;
  }
}

.dark body {
  background-color: rgb(2 6 23);
  color: rgb(203 213 225);
}

.dark h1,
.dark h2,
.dark h3,
.dark h4,
.dark h5,
.dark h6,
.dark p,
.dark a {
  color: inherit;
}

